extends layout

block content
    h1 make POST request
    form(method='POST', action='/ps4/async-api-call')
        input(type='text', name='city', placeholder='Enter city name')
        button(type='submit') Async